body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  background: #2e2828;
}

.title {
  color: #fef4f4;
  font-weight: 300;
  font-size: xx-large;
  margin-left: 50%;
  transform: translateX(-32%);
}

.timeline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
}

.timeline::before {
  content: "";
  position: absolute;
  top: 36%;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #fef4f4;
  z-index: 1;
}

.timeline-item {
  position: relative;
  text-align: center;
  cursor: pointer;
  z-index: 2;
}

.circle {
  width: 20px;
  height: 20px;
  background-color: #fef4f4;
  border-radius: 50%;
  margin-bottom: 10px;
  transition: background-color 0.3s ease;
}

.timeline-item p {
  color: #fef4f4;
  font-size: 14px;
  margin-left: -60%;
}

/* Active state for the circle and text */
.timeline-item.active .circle {
  background-color: #f65151;
}

.timeline-item.active p {
  color: #f65151;
}

.timeline-content {
  text-align: center;
  padding: 50px;
  margin-top: 30px;
  background-color: #fef4f4;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 30px auto;
  opacity: 0;
  transform: scale(0);
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.timeline-content.active {
  opacity: 1;
  transform: scale(1);
}

.timeline-content img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 20px;
  object-fit: cover;
}
